body{
    background-color: #CDC1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:3rem;    
    font-family: "Poppins", serif;
    font-weight: 500;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon{
    margin-top:1.2rem;
    margin-left: 0.4rem;
}

.container{
    background-color: #A294F9;
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:2rem;
    border-radius: 5%;
}

.title{
    font-size: 3rem;
    color: #000000;
}

button{

    height: 3rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: "Poppins", serif;              

}

button:hover{
    scale: 1.2;
}

.selectors{
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
    color: #F5EFFF;
}

.timer{
    font-size: 6rem;
    font-weight: 500;
}

.start{
    font-size: 3rem;
    width:4rem;
    height:4rem;
    border-radius: 3%;
    background-color: transparent;
}

.start_wrapper{
    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: flex-start;
    
}

.start:active, .pause:active, .reset:active{
    scale: 1.4;
}

.pause{
    display: inline;
}